html, body{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.node{
    position: absolute;
    white-space: nowrap;
    font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
    width: 0;
    height: 0;
}

.node .text{
    cursor: move;
}

#canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nodeContainer{
    position: absolute;
    top: 0;
    left: 0;
}

.rootNode{
    height: 50px;
    width: auto;
    height: auto;
}

.editText{
    display: none;
    position: absolute;
    width: 100%;
    top: -13px;
    left: -2px;
}

.text{
    position: absolute;
    top: 20px;
    right: 0;
    line-height: 0;
}

.higherText{
    top: -20px;
}

.leftText{
    right: auto;
    left: 0;
}

.leafText{
    top: 0;
    left: 15px;
    right: auto;
}

.leafText.leftText{
    left: auto;
    right: 15px;
}

.rootText{
    border: 1px solid black;
    padding: 5px;
    background: white;
    position: relative;
    line-height: normal;
    top: -25px;
    left: -50%;
    right: auto;
}

.selectedText{
    color: red;
}

.newButton{
    display: none;
}

.selectedText .newButton{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 110%;
    margin-top: -11px;
}

.displayIcon div{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2px;
}

.icon{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconList{
    position: relative;
    float: left;
    width: 500px;
    height: 55px;
    overflow: hidden;
    border: 1px solid black;
    transition-duration: 1s;
    background: #FFF;
    z-index: 100;
}

.iconListOpen{
    height: 500px;
}

.iconListHeader{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #777;
    color: #FFF;
    text-align: center;
}

.iconListOpen .iconListHeader{
    background: #555;
}

.iconListContent{
    width: 100%;
    height: 435px;
    overflow-y: scroll;
}

.colorSelecter{
    float: left;
}

.iconGroup{
    padding: 5px;
}

.iconSectionHeader{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}